.full-content-container {
    display: flex;
    // height: 95vh;
}

.chatroom-container {
    margin-top: 38px;
    // margin-bottom: 38px;
    // margin-left: 2%;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    justify-content: space-between;
}

.message-submit-container {
    display: flex;
    // width: 100%;
    margin-left: 1%;
}

.message-form {
    width: 100%;
    button {
        background-color: transparent;
        color: lightgray;
        border: none;
        margin-bottom: 1%;
        &:hover {
            color: gray;
        }
    }
    display: flex;
    align-items: center;
}

.message-input {
    width: 90%;
    height: 2.5rem;
    margin-bottom: 1%;
    padding-left: 16px;
    border: 1px solid lightgray;
    border-radius: 3px;
    &:active {
        border: none;
    }
}

.message-submit {
    width: 5%;
    height: 75%;
    border: none;
    background-color: transparent;
}

.message-list {
    padding-bottom: .5%;
    overflow-y: scroll;
    // height: 100%;
    max-height: 81vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // padding-top: 38px;
}

.full-message-item-container {
    display: flex;
    padding: .2% 1%;
    &:hover {
        background-color: rgb(245, 245, 245);
    }
}
.full-message-item-container:hover .user-icon-placeholder {
    // display: inline;
    color: gray;
}

.user-icon-placeholder {
    width: 35px;
    font-size: x-small;
    color: white;
    align-self: center;
    // display: none;
}

.user-icon {
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.user-icon-logout {
    height: 2rem;
    width: 2rem;
    // border: 1px solid black;
    color: white;
    background-color: green;
    padding: 1px;
    margin-right: 10px;
}
.message-main-container {
    padding-left: 1%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message-main {
    width: 85%;
}

.message-header {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding-bottom: 5px;
    width: 100%;
}

.message-header-content {
    display: flex;
    align-items: flex-end;
}

#message-username {
    padding-right: .3rem;
    font-weight: bold;
}

#message-time {
    color: gray;
    font-size: x-small;
    // line-height: -.3;
}

.message-content {
    line-height: 1.4;
    min-height: 22px;
    display: flex;
    align-items: center;
    font-size: small;
    .edited {
        padding-left: 2px; 
        // padding-bottom: 2px;
        color: gray;
        font-size: x-small;
    }
}

.message-right {
    width: 11%;
}
.message-update-icons {
    padding-right: 20px;
    button {
        display: none;
        background-color: transparent;
        color: darkgray;
  
        border: none;
        cursor: pointer;
        &:hover {
            background-color: lightgray;
            border-radius: 4px;
        }
    }
}

.full-message-item-container:hover .message-update-icons button {
    display: inline;
}

.message-update-options {
    padding-left: 1%;
    width: 90%;
    input {
        height: 2rem;
        width: 95%;
    }
}

.edit-message-options {
    padding-right: 50px;
    display: flex;
    justify-content: right;
    button {
        margin: .5%;
        border-radius: 4px;
        height: 2rem;
        width: 70px;
        cursor: pointer;
    }
    #cancel-edit {
        background-color: rgb(202, 202, 202);
        border: .5px solid grey;
        &:hover {
            background-color: rgb(187, 187, 187);
        }
    }
    #save-edit {
        background-color: green;
        color: white;
        border: none;
        &:hover {
            background-color: rgb(87, 146, 87);
        }
    }
}

.chat-room-header-container {
    // padding-top: 38px;
    // background-color: red;
    height: 38px;
    z-index: 2;
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.5% 0 2%;
    border-bottom: 1px solid $border-purple;
}

.gm-full-users {
    position: absolute;
    display: none;
    z-index: 5;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 1%;
    width: 400px;
    overflow-y: auto;
    // margin-top: 5%;
    li {
        margin: 5%;
    }
    // span {
    //     padding-left: 5%;
    // }
}
#full-users-display {
    font-weight: bold;
    padding-left: .5rem;
}
#full-users-username {
    // font-weight: bold;
    padding-left: 2%;
    color: grey;
    font-size: .8rem;
}

#see-all-users {
    cursor: pointer;
    color: lightgrey;
    margin-left: 5px;
}

#chat-details:hover .channel-content {
    background-color: rgb(229, 229, 229);
}

#chat-details:hover .gm-full-users {
    display: block;
}

.channel-content {
    display: flex;
    align-items: flex-end;
    #chat-icon {
        padding-right: 5px;
        font-weight: bold;
    }
    #chat-name {
        font-weight: bold;
        padding-right: 10px;
    }
    #chat-description {
        color: grey;
        font-size: .75em;
    }
}

.edit-chat-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
        color: $dark-purple;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        color: $dark-purple;
        padding-right: 4%;
    }
    #delete-chat {
        text-decoration: none;
        color: $dark-purple;
        font-size: smaller;
        &:hover {
            text-decoration: underline;
        }
    }
}

.modal-child_message {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    height: 20vh;
    // min-height: 300px;
    width: 47vw;
    min-width: 400px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 3px 3px 20px black;
    padding: 3%;
  }

.delete-message-header {
    display: flex;
    justify-content: space-between;
    h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }
    button {
        color: gray;
        background-color: transparent;
        // padding: 2%;
        height: 2rem;
        width: 2rem;
        border: none;
        border-radius: 6px;
        &:hover {
          background-color: rgb(240, 240, 240);
        }
    }
}

.delete-message-warning {
       font-size: .9rem;
       padding-bottom: 2%;
}

.delete-message-container {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
    margin-top: 1%;
    padding: 2%;
}

.delete-message-body {
    padding-left: 1%;
    span {
        font-weight: bold;
    }
}

.delete-message-buttons {
    display: flex;
    justify-content: right;
    button {
        padding: 1%;
        margin: 1%;
        margin-top: 4%;
        border-radius: 4px;
        cursor: pointer;
        background-color: transparent;
        width: 6rem;
        font-weight: bold;
    }
    .cancel-delete {
        border: 1px solid lightgrey;
        &:hover {
            background-color: rgb(235, 235, 235);
        }
    }
    .delete {
        border: none;
        background-color: rgb(214, 0, 72);
        color: white;
        &:hover {
            background-color: rgb(207, 56, 106);
            box-shadow: -1px 1px 5px gray;
        }
    }
}


// CREATE NEW GROUP/DM

.modal-child_newDM {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    height: 70vh;
    // min-height: 300px;
    width: 40vw;
    min-width: 400px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 3px 3px 20px black;
    padding: 2%;
    // box-sizing: border-box;
}

.new-dm-container {
    // border: 1px solid red;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    // box-sizing: border-box;
    // justify-content: space-between;
    height: 100%;
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.2rem;
        font-style: italic;
        margin-bottom: .5rem;
    }
    input {
        width: 95%;
        margin-bottom: .8rem;
        padding: 1%;
    }
}

.create-message-button {
    // bottom: 0;
    // vertical-align: ;
    align-self: flex-end;
    width: 30%;
    align-self: center;
    vertical-align: middle;
    padding: 1%;
    height: 2rem;
    border: none;
    border-radius: 4px;
    background-color: $light-purple;
    color: white;
    cursor: pointer;
    &:hover {
        box-shadow: -1px 1px 5px gray;
        background-color: $grey-purple;
    }
}

.create-message-disabled {
    align-self: flex-end;
    width: 30%;
    align-self: center;
    vertical-align: middle;
    padding: 1%;
    height: 2rem;
    border: none;
    border-radius: 4px;
    background-color: grey;
    color: white;
}

.chat-users-container {
    height: 80%;
}

.selected-users {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    width: 97%;
    margin-bottom: .5rem;
    min-height: 2rem;
    li {
        background-color: rgb(227, 227, 227);
        padding: 1%;
        margin: 1%;
        border-radius: 4px;
        cursor: pointer;
        span {
            font-size: .5rem;
            vertical-align: text-top;
        }
        &:hover {
            background-color: grey;
        }
    }
}
.view-all-users {
    overflow-y: auto;
    width: 100%;
    height: 70%;
    // border: 1px solid rgb(239, 239, 239);
    // background-image: linear-gradient(to right bottom, #f0f0f0, #f2f2f2, #f4f4f4, #f7f7f7, #f9f9f9);
    border-radius: 4px;
    li {
        display: flex;
        align-items: center;
        margin-bottom: .5%;
        padding: .5%;
        border-radius: 4px;
        width: 97%;
        &:hover {
            background-color: rgb(244, 244, 244);
        }
        span {
            padding-left: 2%;
        }
    }
}