.header {
    background-color: $dark-purple;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    height: 38px;
    width: 100%;
    border-bottom: .1px solid $border-purple;
    position: fixed;
    z-index: 2;
}

.header p {
    color: white;
    padding-left: 3em;
    font-size: smaller;
}

.header input {
    background-color: $grey-purple;
    color: white;
    opacity: 1;
    height: 20px;
    width: 50%;
    text-align: center;
    border-radius: 6px;
    border: none;
    border-color: none;
}

.header ::placeholder {
    opacity: 1;
    color: white;
}

.header button {
    margin-right: 3em;
    cursor: pointer;
    border: 1px solid $light-purple;
    background-color: white;
    color: $light-purple;
    border-radius: 4px;
    &:hover {
        background-color: #f7f3ee;
    }
}
