.header {
    background-color: $dark-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100%;
    border-bottom: .1px solid $border-purple;
    position: fixed;
}

.header input {
    background-color: $grey-purple;
    color: white;
    opacity: 1;
    height: 20px;
    width: 50%;
    text-align: center;
    border-radius: 6px;
    border: none;
    border-color: none;
}

.header ::placeholder {
    opacity: 1;
    color: white;
}

  