// .side-nav {
//     width: 260px;
//     height: 100vh;
//     background-color: #4a154b;
//     padding-top: 38px;
//     color: rgb(253, 248, 242);
//     // margin-right: 0;
//     position: absolute;
//     overflow-y: auto;
// }

// .workspace-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 6vh;
//     border: .5px solid $border-purple;
//     padding-left: 5%;
//     padding-right: 5%;
//     color: white;
//     font-weight: bold;

//     button {
//         background-color: white;
//         color: $light-purple;
//         border: none;
//         border-radius: 100%;
//         height: 4vh;
//         width: 4vh;
//         cursor: pointer;
//     }
// }

.channel-message-container {
    padding-top: 5%;
    color: lightgray;
    font-size: smaller;
    width: 100%;
}

.channel-header-container, .dm-message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
 
    height: 4vh;
    button {
        display: none;
        color: lightgray;
        background-color: transparent;
        border: none;
        font-size: large;
        height: 4vh;
        width: 4vh;
        cursor: pointer;
    }
    span {
        padding-left: 5px;
    }
}

.channel-header-container:hover, .dm-message-container:hover {
    button {
        display: inline;
        &:hover {
            background-color: $grey-purple; 
            border-radius: 6px;
        }
    }
}

.hidden {
    display: none;
}
.chat-li {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    &:hover {
        background-color: $dark-purple;
    }
}
#add-chat {
    padding: 5%;
    // background-color: $grey-purple;

}
.chat-index-item {
    color: lightgray;
    text-decoration: none;
    span {
        padding: 5%;
    }
}

.sidenav-container {
    width: 280px;
    height: 100vh;
    background-color: #4a154b;
    color: rgb(253, 248, 242);
    padding-top: 38px;
    display: flex;
}

.workspace-container {
    // height: 6vh;
    width: 25%;
    border: 1px solid $border-purple;
    // color: white;
}

.workspace-index {
    height: 100%;
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.workspace-link {
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.workspace-index-item {
    margin: 5%;
    color: rgb(253, 248, 242);
    border: .5px solid $border-purple;
    border-radius: 4px;
    height: 40px;
    width: 40px;
}

.chat-container {
    width: 100%;
}